<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1 id="tok" style="color : white"><%= token %></h1>

<script src='/dist/voiceit2.min.js'></script>
<script type="text/javascript">
	var token = document.getElementById('tok').innerHTML
	console.log(token);
	var myVoiceIt = new VoiceIt2.initialize('/profile/show/create', '/dist/face_detector.wasm');
	myVoiceIt.setThemeColor('#0000FF');
	myVoiceIt.setSecureToken(token);
		
		// myVoiceIt.encapsulatedFaceEnrollment({
		// completionCallback:function(success, jsonResponse){
		// 		if(success){
        //             alert('Face Enrollment Done!');
        //             window.location.replace("/profile/show/status");
		// 		} else {
		// 			alert('Face Enrollment Cancelled or Failed!');
		// 		}
		// 	}
		// });
		
        myVoiceIt.encapsulatedVideoEnrollment({
            contentLanguage:'en-US',
            phrase:'never forget tomorrow is a new day',
            completionCallback:function(success, jsonResponse){
                if(success){
					alert('Video Enrollments Done!');
					window.location.replace("/profile/show/status");
                } else {
                    alert('Video Enrollments Cancelled or Failed!');
                }
            }
        });
</script>
</body>
</html>