<html lang="en">
<head>
  <title>Enter OTP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/style.scss">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script  src="/js/index.js"></script>
</head>
<body>
  <div class="container">
      <h3><a href="/">Bharat Auth</a></h3>
    <div class="form">
      
<div id="login">
          <h1>Enter OTP </h1>

          <form action="/verify/add" method="post">

            <div class="form-group">
                <input type="text" class="form-control" name="otp" id="usr" placeholder="Enter OTP ">
                </div>


          <div align="center">
            <!-- <input type="submit" class="btn btn-primary"> -->
            <button type="submit" class="btn btn-primary btn-block"><b>Verify</b></button>
          </div>

          </form>

        </div>
        </div>
        </div>
</html>
